/*LISTA DESORDENADA 1*/
#actividad .content .cke_contents .bck-ul-1,
#actividad .content .texto_curso .bck-ul-1,
#actividad .content .workspace ul li .bck-ul-1 {
	list-style-type: none;
}

#actividad .content .cke_contents .bck-ul-1 li,
#actividad .content .cke_contents .bck-ul-1 li,
#actividad .content .texto_curso .bck-ul-1 li,
#actividad .popover-content .bck-ul-1 li,
#actividad .content .workspace ul li .bck-ul-1 li {
	padding-left: 40px;
	position: relative;
	list-style: none;
	margin-bottom: 10px;
}

#actividad .content .cke_contents .bck-ul-1 li:before,
#actividad .content .texto_curso ul.bck-ul-1 li:before,
#actividad .popover-content ul.bck-ul-1 li:before,
#actividad .content .workspace ul li ul.bck-ul-1 li:before {
	content: "";
    height: 6px;
    width: 6px;
    background-color: #333;
    color: #333;
    border-radius: 50%;
    position: absolute;
    margin-top: .6em;
    margin-left: 6px;

}
